<!--
    Aquí van los perfiles una ves que uno se logea/registra nos movemos aquí*
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
        <title> Perfil de usuario | MiPC </title>
</head>

<body>
    <div>
        <%= user.name %>
    </div>
    <div>
        <%= user.username %>
    </div>
    <div>
        <%= user.email %>
    </div>
    <div>
        <%= user.password %>
    </div>
    <div>
        <% if(user.image){ %>
            <img src="/images/users/<%= user.image %>" alt="avatar">
        <% }else{ %>
            <img src="/images/users/default.jpg" alt="avatar default">
        <%  } %>
    </div>
    <div>
        <!--  Botón de editar aquí-->
        <a href="/user/profileEdit">
            <button type="button" class="btn btn-success">Editar perfil</button>
        </a>
    </div>

</body>
</html>