<!DOCTYPE html>
<html lang="es">
<!-- plantilla de errores 40x -->

<head>
  <title>Home | MiPC</title>
  <%- include("partials/head.ejs") %>
</head>

<style>
  .pageError-container {
    min-height: 50vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 35px 42px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
</style>

<body>
  <section class="containerGeneral">
    <header>
      <!--Header-escritorio-->
      <%- include("partials/header.ejs") %>
        <!-- Header hambuger  -->
        <%- include("partials/headerhambugerMenu.ejs")%>
    </header>

    <div class="pageError-container">
      <div class="textError">
        <h2> 4<%=xx%>
        </h2>
        <p>
          <%= locals.msg %>
        </p>
      </div>
      <div>
				<iframe src="https://giphy.com/embed/xTiN0L7EW5trfOvEk0" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></p>
      </div>
    </div>


    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>

      <!-- Bootstrap - JS -->
      <%- include("partials/bootstrap_script.ejs") %>

        <!--JS-->
        <script type="text/javascript" src="/js/countdownOferta.js"></script>
  </section>


</body>

</html>