<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <title>Perfil de usuario | MiPC</title>
</head>

<body>
  <header>
    <!--Header-escritorio-->
    <%- include("partials/header.ejs") %>
      <!-- Header hambuger  -->
      <%- include("partials/headerhambugerMenu.ejs")%>
  </header>
  <main>
    <div class="grid-profile">
      <!-- Bloque principal de perfil-->
      <div class="grid-profile-img">
        <div class="user-img">
          <!-- image-->
          <% if(user.image){ %>
            <img src="/images/users/<%= user.image %>" alt="avatar" />
          <% }else{ %>
            <img src="/images/users/default.jpg" alt="avatar default" />
          <% } %>
        </div>
        <div class="user-buttons">
          <!--buttons-->
          <div>
            <a href="/user/profileEdit">
              <button type="button" class="btn-profile">Editar perfil</button>
            </a>
          </div>
          <div>
            <a href="/purchase">
              <button type="button" class="btn-profile">MiCarro</button>
            </a>
          </div>
          <div>
            <a href="/purchase">
              <button type="button" class="btn-profile">MisCompras</button>
            </a>
          </div>
          <div>
            <a href="/user/logout">
              <button type="button" class="btn-profile">Salir</button>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-profile-info">
        <ul>
          <li> Nombre: <%= user.name %>  </li>
          <li> Nick:   <%= user.username %> </li>
          <li> Correo: <%= user.email %> </li>
          <li> Password: <%= user.password %></li>
        </ul>
        password debería ser un null, revisar su valor*
      </div>
    </div>



  </main>
  <!-- FOOTER -->
  <%- include("partials/footer.ejs") %>

</body>

</html>